extends layout

block content
  .container
    .row
      .col-md-6.col-md-offset-3
        .card
          .card-header
            h3= pageHeader.title
          .card-body
            form(method='POST' action='/register')
              .form-group
                label(for='exampleInputName')= formFields.name.label
                input#exampleInputName.form-control(type=formFields.name.type name=formFields.name.name placeholder=formFields.name.placeholder required)
              .form-group
                label(for='exampleInputEmail1')= formFields.email.label
                input#exampleInputEmail1.form-control(type=formFields.email.type name=formFields.email.name placeholder=formFields.email.placeholder required)
              .form-group
                label(for='exampleInputPassword')= formFields.password.label
                input#exampleInputPassword1.form-control(type=formFields.password.type name=formFields.password.name placeholder=formFields.password.placeholder required)
              .form-group
                label(for='exampleInputPassword2')= formFields.reenterPassword.label
                input#exampleInputPassword2.form-control(type=formFields.reenterPassword.type name=formFields.reenterPassword.name placeholder=formFields.reenterPassword.placeholder required)
              .checkbox
                label
                  input(type='checkbox' name='remember')
                  | &nbsp;#{rememberMe}
              button.btn.btn-primary(type='submit')= submitButton
            .text-center.mt-3
              small #{footerText}
                a(href=footerLink.url)= footerLink.text

