extends layout

block content
  .container
    .row
      .col-md-6.col-md-offset-3
        .card
          .card-header
            h3= pageHeader.title
          .card-body
            if error && error.length
              .alert.alert-danger
                each err in error
                  p= err
            if success && success.length
              .alert.alert-success
                each msg in success
                  p= msg
            form(method='POST' action='/register')
              .form-group
                label(for='name')= formFields.name.label
                input#name.form-control(type=formFields.name.type name=formFields.name.name placeholder=formFields.name.placeholder required)
              .form-group
                label(for='email')= formFields.email.label
                input#email.form-control(type=formFields.email.type name=formFields.email.name placeholder=formFields.email.placeholder required)
              .form-group
                label(for='password')= formFields.password.label
                input#password.form-control(type=formFields.password.type name=formFields.password.name placeholder=formFields.password.placeholder required)
              button.btn.btn-primary(type='submit')= submitButton
            .text-center.mt-3
              small #{footerText}
                a(href=footerLink.url)= footerLink.text

